{% extends 'base.html.twig' %}

{% block title %}TripDK{% endblock %}

{% block header %}
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
        <div class="container-fluid h-100">
            <div class="row">
                <a href="/login" id="login" class="btn btn-lg btn-dark m-3 ml-auto login-button" >Login</a>
            </div>
            <div class="row h-25 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Vacation Denmark</h1>
                    <p class="lead">These are the foto's from when my little brother and I went on a trip in Denmark</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
        <main>
            <section class="filter text-center">
                <button class="my-btn active" id="all">All</button>
                <button class="my-btn" id="city">City</button>
                <button class="my-btn" id="beach">Beach</button>
                <button class="my-btn" id="biking">Biking</button>
                <button class="my-btn" id="viking">Viking</button>
                <button class="my-btn" id="landscape">Landscape</button>
            </section>
            <!-- The image gallery which width is based of the total screen width -->
            <section class="masonry">
                {% for gal in gallery %}
                    <article class="item {{ gal.category }}">
                        <a href="../image_gallery/{{ gal.image_name }}" data-fancybox="images" data-caption="{{ gal.info }}">
                            <img src="../low_res_gallery/{{ gal.image_name }}" class="img-fluid radius">
                        </a>
                    </article>
                {% endfor %}
            </section>
        </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body" class="modal-body">
{#                    {% include "security/login.html.twig" %}#}
                    {% block modal %}

                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="font-weight-lighter bg-grey mt-5">
        <!-- Copyright -->
        <div class="text-center p-3">
            <p>
                <small>© 2020 Copyright by Mike & Luke ten Klooster. <br/> All Rights Reserved</small>
            </p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /**
         * ajax
         */
        // $("a").click(function(e) {
        //     let href = this.href;
        //     e.preventDefault();
        //     $.ajax({
        //         url: href,
        //         success: function (result) {
        //             document.getElementById('modal-body').innerHTML = result;
        //             // document.querySelector('main').innerHTML = result;
        //             // $("html").innerHTML = result;
        //             // window.history.pushState("", "", href);
        //         }
        //     });
        // });
    </script>
{% endblock %}
