{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
{#    {% for gal in gallery %}#}
{#    <img src="{{ gal.image|e }}"/>#}
{#    {% endfor %}#}

    {% for image in images|sort %}
        <img src="{{ image|e }}"/>
    {% endfor %}


    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/GitHub/proefexamen/app/tripdk/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/GitHub/proefexamen/app/tripdk/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
